<% layout('layouts/boilerplate')%>


<div>
    <!-- <a href="/campgrounds/new">Add New!</a> -->
    <a class="btn btn-primary mt-2 mb-3" href="/campgrounds/new">Add Your Home Town!</a>
</div>
<h1>Recent Posts on the nexTrip</h1>
<% for (let campground of campgrounds){%>
<div class="card mb-3">
    <div class="row">
        <div class="col-md-4">
            <% if (campground.images.length) { %>
                <img class="img" alt="" src="<%=campground.images[0].url%>" width="365" height="304.05">
            <% } %>
        </div>
        <div class="col-md-8">
            <div class="card-body">
                <h5 class="card-title"><%= campground.title %> </h5>
                <p class="card-text">
                    <small class="text-muted"><%= campground.location%></small>
                </p>
                <a class="btn btn-primary" href="/campgrounds/<%=campground._id%>">See Details</a>
            </div>
        </div>
    </div>
</div>
<% }%>